---
import BaseLayout from "./BaseLayout.astro";
import Links from "../components/Links.astro";
import News from "../components/News.astro";
import Publications from "../components/Publications.astro";
import { siteInfo } from "../siteInfo";

const { frontmatter } = Astro.props;

import { Content as Details } from "../components/details.md";
---

<BaseLayout>
    <div
        class="flex-row justify-center content-center md:flex md:justify-around"
    >
        <div class="flex justify-center md:block mb-5 md:w-3/8 md:pr-10">
            <img class="w-1/2 md:w-auto" src={frontmatter.image} alt="mandatory" />
        </div>
        <div class="md:w-3/5">
            <h1 class="mb-3">
                <strong>{siteInfo.firstName}</strong>
                {siteInfo.lastName}
            </h1>
            <p class="italic">{siteInfo.description}</p>
            <slot />
            <Links links={frontmatter.links} />
        </div>
    </div>
    {frontmatter.details && <Details />}
    {
        frontmatter.publications && (
            <Publications number={frontmatter.publications} heading={true} />
        )
    }
    <News number={frontmatter.news} />
</BaseLayout>
